/UnityProject.sln
/obj
/Packages
/Library
/Logs
UnityPackageManager
.gitignore
.vs
Temp
UnityProject.Editor.csproj
UnityProject.csproj

/Assets/Standard Assets
/Assets/SampleScenes
/Assets/SampleScenes.meta
/Assets/Standard Assets.meta
/referencemap.xml
/Unity Learn.fairy
/Unity.Analytics.DataPrivacy.csproj
/Unity.AssetBundleBrowser.Editor.csproj
/Unity.AssetBundleBrowser.Editor.Tests.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/UnityLearn.csproj
/UnityLearn.Editor.csproj
/UnityLearn.sln
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/LuaDebuggee.dll
/Assembly-CSharp.csproj
TextMesh Pro
/MemoryCaptures/*.snap
