/UnityProject.sln
/obj
/Packages
/Library
/Logs
UnityPackageManager
.gitignore
.vs
Temp
UnityProject.Editor.csproj
UnityProject.csproj

/Assets/Standard Assets
/Assets/SampleScenes
/Assets/SampleScenes.meta
/Assets/Standard Assets.meta
